html{
    background-size:cover;
}
body{
    margin:0;
    padding:0;
    background-image:url("t.webp");
}
.keys
{
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.key
{
    border :0.4rem solid black;
    margin:1rem;
    font-size:1.5rem;
    padding:1rem 0.5rem;
    transition:all 2.07s ease;
    width:10rem;
    text-align:center;
    text-shadow:0 0 0.5rem black;
    background: rgba(0,0,0,0.4);
    color:white;
    border-radius: 0.5rem;
    
}
.playing
{
    border-color:rgb(65, 193, 231);
    transform:scale(1.1);
    box-shadow: 0 0 1rem rgb(65, 193, 231);
}
kbd{
    display:block;
    font-size:4rem;
}
.sound
{
    font-size:1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color:rgb(65, 193, 231);
}